.chitiet
{
    display: flex;
    align-items: flex-start;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.infor-tour
{
    margin-left: 30px;
}
.infor-tour > h1
{
    margin: 15px 0;
}

.infor-tour > h3
{
    font-size: 30px;
    margin-bottom: 30px
}
.infor-tour > p{
    margin: 15px 0;
}

.infor-tour > button
{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 25px;
    background-color: orange;
    border-radius: 15px;
    margin-bottom: 30px;
}
.infor-tour > h4
{
    margin: 15px 0;
}
button:hover
{
    transform: scale(1.2);
}
.list-tour
{
    display: flex;
    justify-content: space-between;
}
.list-tour-1
{
    width: 23%;
}
.infor-tour-1
{
    padding: 0 5px;
}
.infor-tour-1 > a
{
    text-decoration: none;
    color: black;

}
.list-tour-1 > img:hover
{
    transform: scale(1.2);
    cursor: pointer;
}