@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper .container .slides .slider-title button {
  background-color: #ff6600;
  border: 0;
  padding: 5px 15px;
  color: white;
  border-radius: 100px;
}

.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

.wrapper .container {
  position: relative;
}

.wrapper .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0 50px;
  margin: 10px 0px;
}

.wrapper .container header .nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.wrapper .container header .nav ul li {
  line-height: 24px;
}

.wrapper .container header .nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: normal;
  padding: 5px 7px;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapper .container header .nav ul li a:hover {
  color: #ff6600;
}

.wrapper .container header .nav ul li:last-child {
  padding-left: 10px;
  border-left: 3px solid #ff6600;
}

.wrapper .container header .logo {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .container .slides .slider {
  width: 100vw;
  height: 100%;
}

.wrapper .container .slides .slider-image img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.wrapper .container .slides .slider-title {
  position: absolute;
  top: 7%;
  left: 25%;
  color: #dbdddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}

.wrapper .container .slides .slider-title h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50px;
  padding: 10px 0;
}

.wrapper .container .slides .slider-title h3 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50px;
  padding: 10px 0;
  font-size: 24px;
  line-height: 24px;
}

.wrapper .container .slides .slider-title small {
  font-size: 18px;
  width: 50vw;
  line-height: 18px;
  padding: 5px;
  text-align: center;
}

.wrapper .container .slides .slider-title button {
  margin-top: 20px;
  padding: 9px 30px;
}

.wrapper .container footer {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 30px 80px;
  background-color: #2d2c2c;
}

.wrapper .container footer div h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  color: white;
}

.wrapper .container footer div ul {
  margin-bottom: 10px;
  padding-left: 0px;
  list-style: none;
}

.wrapper .container footer div ul li {
  color: white;
  letter-spacing: 2px;
  margin: 3px;
}

.wrapper .container footer div ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  padding: 5px;
}

.wrapper .container footer div form input {
  padding: 3px 10px;
}

.wrapper .container footer div form input::-webkit-input-placeholder {
  font-size: 16px;
}

.wrapper .container footer div form input:-ms-input-placeholder {
  font-size: 16px;
}

.wrapper .container footer div form input::-ms-input-placeholder {
  font-size: 16px;
}

.wrapper .container footer div form input::placeholder {
  font-size: 16px;
}

.wrapper .container footer div form button {
  padding: 3px 20px;
  cursor: pointer;
}

.wrapper .container footer div .tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 20px;
}

.wrapper .container footer div .tour div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=index.css.map */