@import "reset";
@import "color";

.wrapper {
  background-color: slategrey;
  .nav {
    height: 50px;
    width: 100%;
    @include flexBetween();
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 40px;

    &-left {
      h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        font-family: $font-primary;
        color: purple;
      }
    }
    &-right {
      @include flexBetween();
      .logo {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-primary;
        color: slateblue;
        font-size: 18px;
      }
      .account {
        width: 50px;
        height: 50px;
        padding: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100rem;
        }
        display: flex;
        flex-direction: column;
        z-index: 3;
      }
    }
  }
  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    .sidebar {
      background-color: rgb(236, 236, 236);
      width: 300px;
      height: 100vh;
      .heading {
        padding: 10px;
        width: 100%;
        background-color: rgb(128, 57, 128);
        color: white;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0px;
        li {
          padding: 10px;
          a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            line-height: 24px;
            padding: 5px 10px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
            i {
              margin-right: 5px;
            }
          }
          .active {
            color: rgb(83, 83, 232);
          }
        }
      }
    }
    .main {
      background-color: rgb(245, 245, 245);
      width: 100%;
      padding: 50px;
      height: auto;
      & > div,
      button {
        border-radius: 8px;
      }
      .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .user {
          width: 20%;
          height: 150px;
          padding: 10px;
          border-radius: 8px;
          background-color: rgb(41, 151, 241);
          color: wheat;
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-transform: uppercase;
          font-size: 22px;
          letter-spacing: 3px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: bold;
        }
      }
      .table-list {
        &-children {
          background-color: white;
          padding: 30px;
          border-radius: 8px;
          .card {
            &-header {
              padding-bottom: 10px;
              display: block;
              text-align: center;
              .title {
                font-size: 28px;
                line-height: 24px;
                letter-spacing: 8px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $font-primary;
                margin-bottom: 10px;
                color: rgb(67, 64, 255);
              }
            }
            &-body {
              width: 100%;
              border-radius: 8px;
              table {
                width: 100%;
                thead {
                  tr {
                    th {
                      padding: 10px;
                      background-color: rgb(140, 94, 248);
                      color: white;
                      font-weight: bold;
                      font-family: "Gill Sans", "Gill Sans MT", Calibri,
                        "Trebuchet MS", sans-serif;
                      text-transform: uppercase;
                      font-weight: 18px;
                    }
                  }
                }
                tbody {
                  margin-top: 5px;
                  tr {
                    td {
                      padding: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 10px;
    padding: 30px 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    font-weight: bold;
  }
}
#summernote + div {
  width: 100%;
}
