@import "reset";
@import "color";

.wrapper {
  background-color: white;
  .nav {
    height: 50px;
    width: 100%;
    @include flexBetween();
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 40px;
    &-left {
      h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        font-family: $font-primary;
      }
    }
    &-right {
      @include flexBetween();
      .account {
        width: 50px;
        height: 50px;
        padding: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100rem;
        }
      }
    }
  }
  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    .sidebar {
      background-color: rgb(236, 236, 236);
      width: 250px;
      height: auto;
      .heading {
        padding: 10px;
        width: 100%;
        background-color: rgb(128, 57, 128);
        color: white;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0px;
        li {
          padding: 10px;
          a {
            text-decoration: none;
            font-size: 18px;
            color: black;
            line-height: 24px;
            padding: 5px 10px;
            font-weight: 700;
            i {
              margin-right: 5px;
            }
          }
          .active {
            color: rgb(83, 83, 232);
          }
        }
      }
    }
    .main {
      background-color: rgb(245, 245, 245);
      width: 100%;
      padding: 50px;
      height: auto;
      .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .user {
          width: 20%;
          height: 150px;
          padding: 10px;
          border-radius: 8px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .table-list {
        &-children {
          background-color: white;
          padding: 30px;
          border-radius: 8px;
          .card {
            &-header {
              .title {
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $font-primary;
                margin-bottom: 10px;
                color: rgb(177, 177, 177);
              }
            }
            &-body {
              width: 100%;

              border-radius: 8px;
              table {
                width: 100%;
                thead {
                  tr {
                    border: 2px solid gray;
                    padding: 5px;
                    background-color: whitesmoke;
                  }
                }
                tbody {
                  margin-top: 5px;

                  tr {
                    td {
                      padding: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 30px 0;
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
  }
}
